:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

h1 {
    color: var(--colorRed);
}

/* SignIn Component */

*{
    font-family: Arial, Helvetica, sans-serif;
}

/* SignUp Component */

/* Home view */

/* Account View */